:root {
  --primary-light-color: #5469dc;
  --primary-dark-color: #131c53;
  --primary-text-color: #000;
  --alternate-text-color: #fff;
  --primary-background: rgb(245, 245, 245);
  --alternate-background: rgb(230, 230, 238);
  --heart-color: darkorange;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  background-color: var(--primary-light-color);
}

/* width */

::-webkit-scrollbar {
  width: 6px;
}

/* Track */

::-webkit-scrollbar-track {
  background: rgb(220, 220, 220);
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: darkorange;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: orange;
}

/* PRELOADER */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient( 45deg, rgba(77, 93, 190, 1) 0%, rgba(19, 28, 83, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: opacity 200ms ease;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

.loading-finish {
  opacity: 0;
  pointer-events: none;
}

/* NAVBAR STYLES */

.navbar {
  position: relative;
  height: 80px;
  width: 100%;
  background: var(--primary-light-color);
}

.logo {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-55%);
  font-family: "Abril Fatface", "Playfair Display SC", serif;
  letter-spacing: 0.1em;
  font-weight: normal;
  font-size: 34px;
  cursor: pointer;
  color: var(--alternate-text-color);
  transition: all 200ms ease;
}

.logo:hover, .logo:focus {
  color: var(--primary-dark-color);
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  background: var(--primary-dark-color);
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: "Nunito", sans-serif;
  list-style: none;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
  transition: all 1s ease;
  pointer-events: none;
  z-index: 1;
}

.nav-links.open-nav {
  clip-path: circle(1200px at 100% -10%);
  -webkit-clip-path: circle(1200px at 100% -10%);
  pointer-events: all;
}

.links {
  color: var(--alternate-text-color);
  text-decoration: none;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 200ms ease;
}

.links:hover {
  color: rgb(200, 200, 200);
}

.link-list {
  opacity: 0;
}

.link-list.fade {
  opacity: 1;
}

.link-list:nth-child(1) {
  transition: all 500ms ease 100ms;
}

.link-list:nth-child(2) {
  transition: all 500ms ease 300ms;
}

.link-list:nth-child(3) {
  transition: all 500ms ease 500ms;
}

.link-list:nth-child(4) {
  transition: all 500ms ease 700ms;
}

.link-list:nth-child(5) {
  transition: all 500ms ease 900ms;
}

.hamburger {
  position: fixed;
  cursor: pointer;
  right: 0;
  top: 3%;
  z-index: 2;
  padding: 4px 30px 4px 6px;
  background-color: var(--primary-dark-color);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.line {
  width: 24px;
  height: 3px;
  background: var(--alternate-text-color);
  margin: 6px;
  transition: all 600ms ease;
}

#line-1.hover {
  transform: rotate(45deg) translate(12px);
}

#line-2.hover {
  opacity: 0;
}

#line-3.hover {
  transform: rotate(-45deg) translate(12px);
}

/* HERO SECTION */

.container {
  display: flex;
  flex-direction: column;
}

.left {
  padding: 4em 0 4em 0;
  background: linear-gradient(rgba(60, 60, 60, 0.6), rgba(60, 60, 60, 0.6)), url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: var(--alternate-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hello-text {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 18px;
  text-align: center;
}

.name-text {
  font-family: "Playfair Display SC", serif;
  letter-spacing: 0.1em;
  font-weight: 700;
  margin-bottom: 0.8em;
  text-align: center;
  font-size: 42px;
}

.info-text {
  text-align: center;
  font-size: 18px;
}

.right {
  background-color: var(--primary-light-color);
  padding: 3em;
  color: var(--alternate-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-image {
  border-radius: 50%;
  margin-bottom: 2em;
  width: 120px;
  height: 120px;
  background-image: url(../images/my-avatar-center.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.name-text-small {
  font-size: 28px;
  margin-bottom: 1em;
}

.email-text {
  margin-top: 1em;
  font-size: 18px;
}

.phone-text {
  margin-top: 0.2em;
  font-size: 18px;
}

.social-icons {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: space-around;
  width: 240px;
  font-size: 24px;
}

.social-list {
  list-style: none;
}

.social-link {
  color: var(--alternate-text-color);
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 200ms ease;
}

.social-link:hover {
  opacity: 1;
}

.cv-button {
  background: var(--alternate-text-color);
  color: var(--primary-dark-color);
  font-family: "Playfair Display SC", serif;
  font-size: 16px;
  font-weight: 700;
  padding: 1em 2.5em;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.cv-button:hover, .cv-button:focus {
  color: var(--primary-light-color);
}

.about-section {
  display: flex;
  flex-direction: column;
  padding: 3em;
  background: var(--alternate-background);
  color: var(--primary-dark-color);
}

.heading-text {
  font-size: 30px;
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  color: var(--primary-light-color);
}

.subheading-text {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--primary-light-color);
}

.about-text {
  margin-top: 1em;
  font-size: 18px;
  line-height: 2em;
}

.education-section {
  padding: 3em;
  background: var(--primary-background);
  color: var(--primary-dark-color);
}

.bachelors, .high-school {
  margin-top: 1em;
}

.years {
  font-size: 20px;
  font-weight: 600;
}

.school-name, .stream {
  font-size: 18px;
  line-height: 1.8em;
  margin-top: 0.5em;
}

.interest {
  margin-top: 2em;
}

.ul-list {
  display: flex;
  margin-top: 1em;
}

.interest-list {
  list-style: none;
  font-size: 18px;
  line-height: 1.8em;
}

.interest-list:nth-child(1) {
  margin-right: 2em;
}

.stiky-section {
  position: relative;
  min-height: 220px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/parallax.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.scroll-on {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  background-color: var(--primary-background);
  padding: 1em 1.5em;
  text-align: center;
  color: var(--primary-dark-color);
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
}

.skills-section {
  padding: 3em;
  background: var(--primary-background);
  color: var(--primary-dark-color);
}

.skills, .languages {
  margin-top: 1em;
  font-size: 18px;
}

.divider {
  width: 20%;
  height: 2px;
  background-color: rgb(202, 202, 202);
  margin-top: 2em;
}

.skill-name {
  margin-top: 1em;
}

@keyframes load {
  from {
    width: 0%;
  }
}

.skill-bar {
  position: relative;
  width: 100%;
  background-color: rgb(202, 202, 202);
  height: 2px;
  margin-top: 0.5em;
}

.bar {
  position: absolute;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--primary-light-color);
  height: 4px;
}

.html {
  width: 95%;
}

.js {
  width: 80%;
}

.java {
  width: 85%;
}

.cpp {
  width: 70%;
}

.dart {
  width: 85%;
}

.flutter {
  width: 75%;
}

.figma {
  width: 90%;
}

.illustrator {
  width: 75%;
}

.bengali {
  width: 100%;
}

.english {
  width: 95%;
}

.hindi {
  width: 90%;
}

.projects-section {
  display: flex;
  flex-direction: column;
  padding: 3em;
  color: var(--primary-dark-color);
  background: var(--primary-background);
}

.cards {
  display: flex;
  flex-direction: column;
}

.card {
  margin-top: 4em;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
  position: relative;
  transition: 300ms ease;
}

.card:nth-child(1) {
  margin-top: 2em;
}

.card-image {
  height: 400px;
  transition: background-position 500ms ease;
}

.image1 {
  height: 200px;
  background-image: url(../images/piggame_shot.jpg);
  background-size: cover;
  background-position: top;
}
.card:hover .image1{
  background-position: bottom;
}

.image2 {
  height: 200px;
  background-image: url(../images/budget-app.jpg);
  background-size: cover;
  background-position: left;
}
.card:hover .image2{
  background-position: center;
}

.image3 {
  background-image: url(../images/meals_shot.jpg);
  background-size: cover;
  background-position: top;
}
.card:hover .image3{
  background-position: center;
}

.image4 {
  background-image: url(../images/expense_shot.jpg);
  background-size: cover;
  background-position: top;
}
.card:hover .image4{
  background-position: center;
}

.image5 {
  background-image: url(../images/kolkata_shot.jpg);
  background-size: cover;
  background-position: bottom;
}
.card:hover .image5{
  background-position: center;
}

.card-info {
  background-color: var(--primary-light-color);
  color: var(--alternate-text-color);
  padding: 1.5em;
  position: relative;
}

.card-heading {
  font-size: 24px;
  margin-bottom: 1rem;
}

.card-description {
  font-size: 18px;
  opacity: 0.6;
  margin-bottom: 1rem;
}

.read-more-button {
  background: var(--primary-background);
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -12%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.more-info-link {
  text-decoration: none;
  cursor: pointer;
  color: var(--primary-dark-color);
  font-weight: 800;
  padding: 0.8em 1em 0.8em 1.4em;
  transform: translateX(0.7em);
  transition: transform 150ms ease;
}

.right-arrow {
  color: var(--primary-dark-color);
  margin-right: 1.4em;
  opacity: 0;
  transition: opacity 150ms ease;
}

.read-more-button:hover .more-info-link, .read-more-button:focus .more-info-link {
  transform: translateX(0);
}

.read-more-button:hover .right-arrow, .read-more-button:focus .right-arrow {
  opacity: 1;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em;
  color: var(--primary-dark-color);
  background: var(--alternate-background);
}

.mail-phn {
  text-align: center;
}

.heading-text-center {
  font-size: 22px;
  color: var(--primary-dark-color);
}

.social-cv {
  text-align: center;
}

.social-link-dark {
  color: var(--primary-dark-color);
  opacity: 1;
}

.social-link-dark:hover, .social-link-dark:focus {
  opacity: 0.6;
}

.cv-button-dark {
  background-color: var(--primary-light-color);
  color: var(--alternate-text-color);
}

.cv-button-dark:hover, .cv-button-dark:focus {
  color: var(--primary-dark-color);
}

.scroll-up-arrow {
  margin-top: 1.5em;
  padding: 0.35em 0.7em;
  color: var(--primary-light-color);
  border: 3px solid var(--primary-light-color);
  cursor: pointer;
}

.up-arrow {
  font-size: 28px;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.scroll-up-arrow:hover .up-arrow, .scroll-up-arrow:focus .up-arrow {
  transform: translateY(-6px);
}

.footer {
  padding: 2em 10%;
  background: var(--primary-light-color);
  color: var(--alternate-text-color);
  font-size: 18px;
}

.copyright-text, .love-text {
  opacity: 0.8;
}

.love-text {
  margin-top: 0.1em;
}

.love-text span {
  color: var(--heart-color);
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .logo {
    all: unset;
    font-family: "Abril Fatface", "Playfair Display SC", serif;
    letter-spacing: 0.1em;
    font-weight: normal;
    font-size: 32px;
    cursor: pointer;
    color: var(--alternate-text-color);
    transition: all 200ms ease;
    margin: 0 8% 0 12%;
  }
  .nav-links {
    all: unset;
    list-style: none;
    display: flex;
    font-family: "Playfair Display SC", serif;
  }
  .link-list {
    opacity: 1;
    margin-right: 2em;
  }
  .links {
    font-size: 17px;
    text-transform: initial;
    font-weight: normal;
  }
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
  .left {
    width: 75%;
    background-attachment: fixed;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .hello-text {
    font-size: 20px;
    margin-left: 10%;
  }
  .name-text {
    font-size: 70px;
    margin-bottom: 0.2em;
    margin-left: 10%;
  }
  .info-text {
    margin-left: 10%;
    font-size: 20px;
  }
  .right {
    width: 25%;
    padding: 0.5em 3em 3em 3em;
  }
  .my-image {
    width: 140px;
    height: 140px;
  }
  .name-text-small {
    font-size: 24px;
    margin: 0 0 1em 0;
  }
  .info-text-aside {
    margin: 0;
    font-size: 16px;
  }
  .email-text {
    margin-top: 4em;
  }
  .email-text, .phone-text {
    font-size: 14px;
  }
  .social-icons {
    width: 180px;
    font-size: 20px;
    margin-top: 2em;
    margin-bottom: 3em;
  }
  .cv-button {
    font-size: 14px;
    padding: 1em 2em;
  }
  .about-section {
    padding: 6em 12%;
  }
  .subheading-text {
    margin-top: 0.7em;
  }
  .about-text {
    margin-top: 3rem;
  }
  .education-section {
    padding: 6em 12%;
  }
  .bachelors {
    margin-top: 3em;
  }
  .interest {
    margin: 0;
  }
  .ul-list {
    margin-top: 3em;
  }
  .stiky-section {
    min-height: 300px;
    background-attachment: fixed;
  }
  .skills-section {
    padding: 6em 12%;
  }
  .skills {
    margin-top: 3rem;
  }
  .skill1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
  }
  .skill-name {
    width: 20%;
    margin: 0 2em 0 0;
    font-size: 16px;
  }
  .skill-bar {
    widows: 80%;
  }
  .divider {
    width: 5%;
    margin: 2.5em 0;
  }
  .projects-section {
    padding: 6em 12%;
  }
  .cards {
    margin-top: 3rem;
    display: grid;
    grid-template-areas: "card1 card1 card2" "card3 card4 card5";
    grid-gap: 4em;
  }
  .card {
    margin: 0;
  }
  .card:nth-child(1) {
    margin-top: 0;
  }
  .card1 {
    grid-area: card1;
  }
  .card2 {
    grid-area: card2;
  }
  .card3 {
    grid-area: card3;
  }
  .card4 {
    grid-area: card4;
  }
  .card5 {
    grid-area: card5;
  }
  .card-image {
    height: 300px;
  }
  .card-heading {
    font-size: 22px;
  }
  .card-description {
    height: 70px;
    font-size: 16px;
  }
  .contact-section {
    padding: 6em 12%;
    flex-direction: row;
    justify-content: space-between;
  }
  .mail-phn {
    text-align: start;
  }
  .social-icons-dark {
    margin-top: 0;
  }
  .scroll-up-arrow {
    margin-top: 0;
    font-size: 24px;
  }
  .footer {
    padding: 2em 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .love-text {
    margin: 0;
  }
}